.header {
    position: sticky;
    top: 0;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    background-color: $color-light;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    &__container {
        display: flex;
        align-items: center;
    }

    &__link,
    &__titulo {
        width: 50%;
    }

    &__h1 {
        font-size: 2rem;
        color: $color-primario;

        @include cell-landscape {
            font-size: 3rem;
        }
    }
}

.logo-branding {
    max-height: rem(100px);
}