.item {
    &__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid $color-primario;
        border-radius: 10px;
    }

    &__caracteres {
        font-size: 8rem;
        color: $color-primario;

        @include grande {
            font-size: 11rem;
        }
    }

    &__titulo {
        font-size: 1.3rem;
        font-weight: 600;
        color: $color-enlaces;
        text-decoration: none;

        &:hover {
            color: lighten($color-enlaces, 15%)
        }
    }
}

$mapa-fuentes: (
    sans-serif: $sans-serif,
    serif: $serif,
    monospace: $monospace,
    lora: $lora,
    montserrat: $montserrat,
    open-sans: $open-sans,
    source-sans-pro: $source-sans-pro,
    ubuntu: $ubuntu,
    titillium-web: $titillium-web,
    oxygen: $oxygen,
    libre-franklin: $libre-franklin,
    roboto: $roboto,
);

@each $name, $value in $mapa-fuentes {
    .#{$name} {
        font-family: $value;
    }
}