body {
    font-family: $fuente-principal;
}

img {
    max-width: 100%;
}

.h2--item {
    padding-bottom: .5rem;
    color: $color-primario;
    border-bottom: solid 3px lighten($color-enfasis, 40%);
}

.parrafo {
    margin-bottom: 1rem;

    &:nth-child(3) {
        font-size: 1.2rem;
    }
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}