%main {

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    @extend %main;

    @include cell-landscape {

        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    @include grande {
        grid-template-columns: repeat(3, 1fr)
    }
}

.main--item {
    @extend %main;
    padding: 1rem;
}