$color-primario: #616161;
$color-enfasis: #e84118;;
$color-light: #fff;
$color-enlaces: $color-enfasis;
$fuente-principal: Arial, sans-serif;
$bk-cell-landscape: 576px;
$bk-tablet: 768px;
$bk-grande: 1200px;
// Variables para el muestrario de fuentes
$sans-serif: sans-serif;
$serif: serif;
$monospace: monospace; 
$lora: 'Lora';
$montserrat: 'Montserrat';
$open-sans: 'Open Sans';
$source-sans-pro: 'Source Sans Pro';
$ubuntu: 'Ubuntu';
$titillium-web: 'Titillium Web';
$oxygen: 'Oxygen';
$libre-franklin: 'Libre Franklin';
$roboto: 'Roboto';