block config 
    include ../config/config

include ../mixins/mixins

doctype html
html(lang="es")
    head
        include ../includes/head
    body
        .contenedor
            block header
                include ../includes/header
            block main