header.header
    .header__container
        .header__link
            a(href="index.html")
                img.logo-branding(src="img/logo.svg" alt="Paleta de fuentes. Sergio Díez de Pedro")
        .header__titulo
            h1.header__h1 Fuentes