@mixin cell-landscape {
    @media screen and (min-width: $bk-cell-landscape) {
        @content
    }
}

;

@mixin tablet {
    @media screen and (min-width: $bk-tablet) {
        @content
    }
}

;

@mixin grande {
    @media screen and (min-width: $bk-grande) {
        @content
    }
}

;