extends templates/template

append config
    - nombrePagina = 'Home'

block main
    main.main
        +item('sans-serif','Sans-serif navegador')
        +item('serif','Serif navegador')
        +item('monospace','Monospace navegador')
        +item('lora', 'Lora')
        +item('montserrat', 'Montserrat')
        +item('open-sans', 'Open Sans')
        +item('source-sans-pro', 'Source Sans Pro')
        +item('ubuntu', 'Ubuntu')
        +item('titillium-web', 'Titillium Web')
        +item('oxygen', 'Oxygen')
        +item('libre-franklin', 'Libre Franklin')
        +item('roboto', 'Roboto')