extends templates/template

append config
    - nombrePagina = 'Open Sans'

block main
    main.main--item
        h2.h2--item.open-sans Open Sans
        h3.item__caracteres.open-sans.margin-bottom-2 O g
        p.parrafo.open-sans Imagínense un cruce de carreteras donde hay cuatro puntos de venta de coches. Uno de ellos (Microsoft) es mucho, mucho mayor que los demás. Comenzó hace años vendiendo bicicletas de tres velocidades (MS-DOS); no eran perfectas, pero funcionaban y, cuando se rompían, se arreglaban fácilmente.
        p.parrafo.open-sans Enfrente estaba la tienda de bicicletas rival (Apple), que un día empezó a vender vehículos motorizados: coches caros, pero de estilo atractivo, con los mecanismos herméticamente sellados, de tal modo que su funcionamiento era algo misterioso.
        p.parrafo.open-sans Al otro lado de la carretera hay dos competidores que llegaron más recientemente. Uno de ellos, (Be, Inc.) vende batmóviles plenamente operativos (los BeOS). Son más bonitos y elegantes incluso que los eurosedanes, mejor diseñados, más avanzados tecnológicamente y al menos tan fiables como cualquier otra cosa en el mercado: y sin embargo son más baratos que los demás.
        p.parrafo.open-sans Con una excepción, claro: Linux, que está enfrente mismo, y que no es un negocio en absoluto. Es un conjunto de tiendas de campaña, yurtas, tipis y cúpulas geodésicas levantadas en un prado y organizadas por consenso. La gente que vive allí fabrica tanques. No son como los anticuados tanques soviéticos de hierro forjado; son más parecidos a los tanques M1 del ejército estadounidense, hechos de materiales de la era espacial y llenos de sofisticada tecnología de arriba abajo. Pero son mejores que los tanques del ejército. Han sido modificados de tal modo que nunca, nunca se averían, son lo bastante ligeros y maniobrables como para usarlos en la calle y no consumen más combustible que un coche compacto. Estos tanques se producen ahí mismo a un ritmo aterrador, y hay un número enorme de ellos alineados junto a la carretera con las llaves puestas. Cualquiera que quiera puede simplemente montarse en uno y marcharse con él gratis.
        p.parrafo.open-sans Los clientes llegan a este cruce en multitudes, día y noche. El noventa por ciento se van derechos a la tienda grande y compran monovolúmenes o vehículos para circulación fuera de carretera. Ni siquiera miran las otras tiendas.